/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: block;
    transition: top .6s cubic-bezier(0.2, 0.77, 0.9, 0.86);
}
header .memu {
    width: 90%;
    height: 40px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .memu label {
    position: relative;
    z-index: 9;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .memu label span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
}
header .memu input[type="checkbox"] {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
}
header .memu input[type="checkbox"]:checked ~ .pullmenu {
    display: block;
    width: 100%;
    height: 100vh;
}
/* menu */
header .memu label:hover {
    background-color: #c6ff00;
}
header .memu label:hover span {
    border: 1px solid #333;
}
header .memu .pullmenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    background: #333;
    width: 100%;
    height: 100vh;
}
header .memu .pullmenu nav {
    width: 100%;
    position: relative;
}
header .memu .pullmenu nav .gab {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 8;
    transform: translateX(-50%) translateY(-50%);
}
header .memu .pullmenu nav .gab li {
    font-size: 2em;
    line-height: 2.2em;
}
header .memu .pullmenu nav .gab li a {
    font-size: inherit;
}
header .memu .pullmenu nav .gab li a.active {
    font-weight: 700;
}
header .memu .pullmenu nav .gab li:hover a{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #c6ff00;
    line-height: 0;
}
header .memu .pullmenu .menu-footer {
    width: 90%;
    position: fixed;
    bottom: 3%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}
header .memu .pullmenu .menu-footer .sns {
}   
header .memu .pullmenu .menu-footer a {
}
header .memu .pullmenu .menu-footer a:nth-of-type(1) {
}
header .memu .pullmenu .menu-footer a:nth-of-type(2) {
    margin-left: 30px;
}
header .memu .pullmenu .menu-footer .sns a img {}
header .memu .pullmenu .menu-footer .symbol {
    text-align: right;
}
header .memu .pullmenu .menu-footer .symbol a {
    letter-spacing: 2px;
    font-weight: 700;
    vertical-align: super;
}
header .memu h1 {
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
}  
header .memu h1 a {
    font-size: inherit;
}
header .memu button {
    height: 40px;
    cursor: pointer;
    font-size: .8em;
}
header .memu [name="lang_switch"] span {
    vertical-align: .05em;
}
header .memu button:hover {
    color: #c6ff00;
}

/* lightmode */
header.lightmode .memu label span {
    border: 1px solid #333;
}
header.lightmode .memu .pullmenu {
    background: #fff;
}
header.lightmode .memu h1,
header.lightmode .memu {
    color: #333
}
header.lightmode .memu button:hover
header.lightmode .memu .pullmenu nav .gab li:hover a{
    color: #30ff00;
}
/* wrap */
.wrap {
    width: 100%;
    margin: 0 auto;
}
/* bg */
.bg-dark {
    background-color: #333;
}
/* local menu */
.local-menu {
    width: 90%;
    margin: 0 auto;
    text-align: right;
    padding-top: 50px;
}
.local-menu li {
    font-size: .9em;
    color: #fff;
    display: inline;
}
.local-menu li a {
    font-size: inherit;
}
.local-menu li:hover a {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #c6ff00;
}
.local-menu li a::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 1px;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}
.local-menu li:last-child a::after {
    content: "";
    display: inline;
    width: 0;
    height: 0;
    background-color: none;
    vertical-align: baseline;
    margin-left: 0;
    margin-right: 0;
}
/* lightmode */
.wrap .lightmode li {
    color: #333;
}
.wrap .lightmode li a::after {
    background-color: #333;
}

/* footer */
footer {
    margin: 0 auto;
    width: 90%;
    position: relative;
    padding-top: 20px;
}
footer::before {
    content: '';
    display: block;
    padding-top: 5px;
    border-top: 1px solid #999;
}
footer::after {
    content: '';
    display: table;
    clear: both;
}
footer p {
    width: 50%;
    font-size: .85em;
    font-style: italic;
    float: left;
    color: #999;
}
footer dl {
    width: 50%;
    float: left;
    color: #999;
}
footer dl dt {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
}
footer dl dd {
    letter-spacing: 1px;
    font-size: .8em;
    text-align: right;
}
footer dl dd:nth-of-type(1) {}
footer dl dd:nth-of-type(2) {}
footer dl dd:nth-of-type(3) {
    padding-bottom: 10px;
    color: #ededed;
}
/* lightmode */
footer.lightmode p,
footer.lightmode dl {
    color: #ccc;
}
footer.lightmode dl dd:nth-of-type(3) {
    color: #999;
}
/* sub page */
.subtit {
    width: 80%;
    margin-left: 20%;
    margin-bottom: 20px;
    font-size: 3em;
    letter-spacing: 1.5px;
}
.subtit::after {
    content: '.';
    color: #30ff00;
    font-size: 1.15em;
}
/* 1depth sub */
.subpage-head {
    width: 90%;
    margin: 0 auto;
    color: #ededed;
    padding-bottom: 50px;
}
h2 {
    font-weight: 400;
    font-size: 5em;
    letter-spacing: 5px;
    transition: .6s cubic-bezier(0.2, 0.77, 0.9, 0.86);
}
.subpage-head p {
    letter-spacing: 1px;
    transition: .6s cubic-bezier(0.2, 0.77, 0.9, 0.86);
}
/* sub contact */
.sub-contect {
    text-align: right;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 5%;
    float: right;
}
.sub-contect::after {
    content: '';
    display: table;
    clear: both;
}
.sub-contect dt {
    font-weight: 700;
    margin-right: 30px;
    float: left;
}
.sub-contect dd {
    float: left;
}
.sub-contect dd a {
    font-size: .9em;
    text-decoration: underline;
}
.sub-contect dd:nth-of-type(1):after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px;
    width: 5vw;
    height: 1px;
    background-color: #333;
}
/* scroll event */
/* 
transition: .6s cubic-bezier(0.2, 0.77, 0.9, 0.86);
*/
.headscroll {
    font-size: 2em;
    opacity: .2;
}
.subParaScroll {
    color: #444;
}