.index-en {
    display: flex;
}
.left-layout {
    width: 5%;
    height: 100vh;
}
.main_menu {
    display: flex;
    -moz-transform: rotateZ(270deg) translateX(-70h);
    -webkit-transform: rotateZ(270deg) translateX(-70vh);
    transform: rotateZ(270deg) translateX(-70vh);
}
.main_menu li {
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 1.25em;
    padding-left: 50px;
}
.main_menu li:hover a {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #c6ff00;
}
.main_menu li a {
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}
.text_circle {
    width: 12%;
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 10;
    animation: text_circle_ani 6s infinite linear;
}
div .main-box {
    margin-bottom: 10px;
}
.main-box .main-line {
    width: 10vw;
    height: 1px;
    background-color: #c6ff00;

}
@keyframes text_circle_ani {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

/* swiper contents */
.swiper-slide video,
.swiper-slide img {
    width: 100%;
    padding: 0 10px 0 0 ;
    max-width: 1200px;
    max-height: 585px;
}
.swiper-slide:last-child::after {
    content: '';
    width: 100%;
    height: 100%;
    
}
.slide-txt {
    font-family: 'Montserrat', sans-serif;
    color: #c6ff00;
    font-size: 5rem;
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    right: 5%;
}
.slide-txt:hover {
    font-family: 'Noto Serif', serif;
    color: #30ff00;
    font-size: 5rem;
    font-weight: 600;
    font-style: italic;
}
/* swiper btn */
.swiper-button-prev {
    position: absolute;
    bottom: 7%;
    left: 3%;
    z-index: 11;
}
.swiper-button-next {
    position: absolute;
    bottom: 7%;
    right: 3%;
}
.swiper-button-prev:hover span,
.swiper-button-next:hover span {
    background-color: #666;
}
.swiper-button-prev span,
.swiper-button-next span {
    background-color: #c6ff00;
    height: 1px;
    transition: background-color .5s;
}
.swiper-button-prev span:nth-of-type(2),
.swiper-button-next span:nth-of-type(1) {
    width: 80px;
}
.swiper-button-prev span:nth-of-type(1) {
    width: 30px;
    transform: translateX(30px) translateY(-5px) rotateZ(340deg);
}
.swiper-button-next span:nth-of-type(2) {
    width: 30px;
    transform: translateX(-30px) translateY(-5px) rotateZ(20deg);
}




