    /*
    responsive breakpoint
    2560 ? 1920 ~ 1024 / 768 / 480 / 320 (ip5)
    */
    @media screen and (min-width: 1920px) {
        /* main page */
        
        /* slide */
        /* swiper contents */
        .swiper-slide video,
        .swiper-slide img {
            /* width: 100%;
            padding: 0 10px 0 0 ;
            max-width: 1200px;
            max-height: 585px; */
            object-fit: cover;
        }
    }
    @media screen and (max-width: 1024px) {
        /* main page */
        .text_circle {
            width: 13%;
        }
        .slide-txt {
            font-size: 4rem;
        }
        .slide-txt:hover {
            font-size: 4rem;
        }
        /* slide */
        .swiper-slide  {
            align-items: flex-start;
        }
        /* slideBtn */
        .swiper-button-prev span:nth-of-type(2),
        .swiper-button-next span:nth-of-type(1) {
            width: 50px;
        }
        .swiper-button-prev span:nth-of-type(1) {
            width: 20px;
            transform: translateX(20px) translateY(-3px) rotateZ(340deg);
        }
        .swiper-button-next span:nth-of-type(2) {
            width: 20px;
            transform: translateX(-20px) translateY(-3px) rotateZ(20deg);
        }

        /* sub-page */
        .subpage-head {

        }
        h2 {
            font-size: 10vw;
            padding-bottom: 10px;
        }
        .circles {
            display: none;
        }
        /* artist list */
        .artist-list li .artist-txt-box {
            padding-left: 5vw;
        }

        /* productions */
        .prod-container {
            grid-template-columns: repeat(2, 1fr);
        }
        .prod-container li {
            border-right: .5px solid #999;
        }
        .prod-container li:nth-of-type(even){
            border-left: 0px;
        }
        .prod-container li:nth-of-type(odd) {
            border-right: 0px;
        }
        .prod-container .item1 {
            grid-column-start: 1;
            grid-column-end: 3;
            border-left: 0;
        }
        .prod-container li > a {
            float: none;
        }
        .prod-container li .prod-tit {
            min-height: 0;
            font-size: 3vw;
            height: 15vh;
            margin-bottom: 10px;
            position: relative;
        }
        .prod-container li .prod-artist {
            font-size: 2.5vw;
        }
        .prod-container li > a {
            display: none;
        }

        /* contact */
        h3 {
            margin: 4vh auto 2vh;
        }
        .contact {
            margin-top: 2vh;
            position: relative;
        }
        .square {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 50%;
            height: 30vh;
            z-index: -1;
        }
        .square span {
            width: 15vh;
            height: 15vh;
            border: 1px solid #30ff00;
            position: absolute;
        }
        .square span:nth-last-of-type(2) {
            top: calc(50% - 7.5vh - .1px);
            left: calc(50% - 7.5vh - .1px);
        }
        .contact-info {
            width: 80%;
            margin: 0 auto;
        }
        .contact-info dd:last-child {
            width: 100%;
        }

        /* productions sub page */
        .productions .prod-content-head {
            padding-top: 10px;
        }
        .productions .prod-content-head h3 {
            margin: 0;
            font-size: 5vw;
        }
        .productions .prod-content-head dl dd,
        .productions .prod-content-head dl dt {
            font-size: 10px;
        }
        .gradient-circle {
            width: 40vw;
            height: 40vw;
            top: 50vh;
            transform: translateX(-35%);
        }
        /* artist- sub page */
        .artist_sub h3 {
            font-size: 8vw;
        }
        .artist_sub h3 + p {
            font-size: 1.7vw;
        }
        .artist-review {
            padding-top: 30px;
            display: flex;
            flex-direction: column-reverse;
        }
        .artist-sns {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            float: none;
            padding-left: 0;
        }
        .artist_sub .artist-review p {
            width: 100%;
            float: none;
        }
        .artist_sub .artist-review p > span {
            margin-top: 10px;
        }
        .artist_sub .artist-review p > span:first-child {
            margin-top: 10px;
        }
        .artist-sns .line,
        .artist-sns .artist-plus {
            display: none;
        }
        .works {
            width: 100%;
            margin: 0;
        }
        .works h4 {
            width: 100%;
            margin-left: 0;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .works ul /* List of works */ {
            width: 100%;
            margin-left: 0;
        }
        .works ul li {
            padding: 15px;
        }
        .works .artist-history-grid /* a few dates */ {
            width: 100%;
            margin-left: 0;
            margin-bottom: 5vh;
            grid-template-columns: repeat(4, 1fr);
            gap: 2vw;
        }



    } /* 1024 end */
 
    @media screen and (max-width: 768px) {

        /* global */

        /* sub */
        /* sub page */
        .subtit {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 10px;
            font-size: 9vw;
        }
        /* main page */
        .main_menu {
            display: none;
        }
        .text_circle {
            width: 20%;
            bottom: 90%;
            right: 5%;
            z-index: 2;
        }
        .slide-txt {
            font-size: 2.8rem;
            top: 30%;
            left: 5%;
        }
        .slide-txt:hover {
            font-size: 2.8rem;
        }
        /* slide */
        
        /* swiper contents */
        .swiper-slide video,
        .swiper-slide img {
            padding: 0;
        }
        /* display: none */
        .left-layout,
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }

        /* sub-page */

        /* title */

        /* about */
        .about_wel {
            margin: 0 auto;
            width: 90%;
        }
        .about_wel p {
            width: 100%;
            float: none;
        }


        /* artist list */
        .artist-list {
            padding-left: 0;
        }
        .artist-list li:nth-of-type(4n-3) figure,
        .artist-list li:nth-of-type(4n-2) figure {
            width: 50%;
        }
        .artist-list li:nth-of-type(4n-1) figure,
        .artist-list li:nth-of-type(4n) figure {
            width: 50%;
        }
        .artist-list li:nth-of-type(4n-3) .artist-txt-box,
        .artist-list li:nth-of-type(4n-2) .artist-txt-box,
        .artist-list li:nth-of-type(4n-1) .artist-txt-box,
        .artist-list li:nth-of-type(4n) .artist-txt-box
        {
            width: 50%;
        }
        
        /* productions */
        .prod-container li .prod-tit {
            font-size: 3.6vw;
            height: 12vh
        }

        /* contact */
        .contact-info div {
            width: 100%;
            display: block;
        }

        /* productions sub page */
        
        .productions .prod-content-head {
            padding-top: 10px;
        }
        .productions .prod-content-head h3 {
            width: 100%;
            font-size: 9vw;
            margin-bottom: 5px;
        }
        .productions .prod-content-head dl {
            float: none;
            padding-bottom: 10px;
        }
        .productions .prod-content-wrap {
            display: flex;
            flex-direction: column-reverse;
        }
        .productions .prod-content-wrap a {
            font-size: .85em;
            letter-spacing: 8px;
            padding: 10px 10px;
            float: none;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .productions .prod-content-wrap p {
            width: 100%;
            float: none;
            font-size: 1.15em;
            letter-spacing: .5px;
        }
        .productions .prod-content-wrap p span {
            display: table;
            margin-bottom: 10px;
        }
        .tours,
        .productions .credit {
            width: 90%;
            margin: 0 auto;
        }
        .productions .credit .credit-left,
        .productions .credit .credit-right {
            float: none;
            width: 100%;
        }
        .productions .credit dt {
            padding-top: 10px;
            color: #ededed;
        }
        .productions .credit dd {
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 700;
        }
        .tours table {
            width: 90%;
            margin: 0 auto;
        }
        .tours table thead {
            display: none;
        }
        .tours table tbody {
            width: 100%;
        }
        .tours table tbody tr {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .tours table tbody tr td,
        .tours table tbody tr td:nth-of-type(1),
        .tours table tbody tr td:nth-of-type(2),
        .tours table tbody tr td:nth-of-type(3) {
            padding: 0;
            margin: 5px 0;
            width: 100%;
        }
        .tours table tbody tr td:nth-of-type(1) {
            font-style: italic;
            font-family: 'Noto Serif', serif;
            font-size: .95em;
            text-align: right;
        }
        .gradient-circle {
            top: 50vh;
            width: 75vw;
            height: 75vw;
            transform: translateX(-30%);
        }
        .sub-contect {
            margin: 0 auto;
            width: 90%;
        }
        /* artist- sub page */
        .works .artist-history-grid /* a few dates */ {
            grid-template-columns: repeat(3, 1fr);
        }


    }/* 768 end */

    @media screen and (max-width: 480px) {

        /* sub-page */

        /* artist list */
        .artist-list li {
            display: block;
        }
        .artist-list li:nth-of-type(4n-3) .artist-txt-box,
        .artist-list li:nth-of-type(4n-2) .artist-txt-box,
        .artist-list li:nth-of-type(4n-1) .artist-txt-box,
        .artist-list li:nth-of-type(4n) .artist-txt-box
        {
            width: 100%;
        }
        .artist-list li .artist-txt-box {
            padding-left: 0;
            padding-top: 6vh;
            padding-bottom: 6vh;
            align-items: center;
        }
        .artist-list li .artist-txt-box span /* name */{
            font-size: 6vw;
            padding-bottom: 1em;
        }
        .artist-list li .artist-txt-box a {
            width: 150px;
            padding: 7px 0;
        }
        .artist-list li figure {
            display: none;
        }
        /* productions */
        .prod-container li .prod-tit {
            height: 10vh
        }
        /* artist- sub page */
        .works .artist-history-grid /* a few dates */ {
            grid-template-columns: repeat(2, 1fr);
        }
        
    }/* 480 end */