body {}
.local-menu {
    width: 100%;
}
.artist_sub {
    width: 90%;
    margin: 0 auto;
}
.artist_sub::after {
    content: '';
    display: table;
    clear: both;
}
.artist_sub h3 {
    width: 90%;
    margin: 0 auto;
    color: #333;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 3.5em;
}
.artist_sub h3 span {
    font-weight: 700;
    font-size: inherit;
    font-style: italic;
    display: table;
}
.artist_sub h3 + p {
    font-size: .8em;
    letter-spacing: 2px;
    text-align: right;
}
/* review */
.artist-review {
    padding-top: 30px;
}
.artist-review::after {
    content: '';
    display: table;
    clear: both;
}
.artist-sns {
    width: calc(35% - .1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    float: left;
    padding-left: 30%;
}
.artist-sns .sns {
    margin: 20px 0;
}
.artist-sns span {}
.artist-sns .line {
    width: 2px;
    height: 40vh;
    background-color: #333;
}
.artist-sns .artist-insta {
    width: 20px;
    height: 20px;
    background-image: url('../../img/logo/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.artist-sns a:hover .artist-insta {
    width: 20px;
    height: 20px;
    background-image: url('../../img/logo/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.artist-sns .artist-plus {
    width: 18px;
    height: 18px;
    position: relative;
}
.artist-sns .artist-plus span {
    position: absolute;
}
.artist-sns .artist-plus span:nth-of-type(1) {
    width: 18px;
    height: 2px;
    background-color: #333;
    top: calc(50% - 1px);
    left: 0;
}
.artist-sns .artist-plus span:nth-of-type(2) {
    width: 2px;
    height: 18px;
    background-color: #333;
    top: 0;
    left: calc(50% - 1px);
}
.artist_sub .artist-review p {
    letter-spacing: 1px;
    width: calc(60% - .1px);
    float: right;

    opacity: 0;
    transform: translateY(20px);
    transition: all 1.5s;
}
.artist_sub .artist-review p > span {
    margin-top: 20px;
}
.artist_sub .artist-review p > span:first-child {
    margin-top: 0;
}

/* List of works */
.works {
    width: 90%;
    margin: 0 auto;
}
.works h4 {
    width: 80%;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3em;
    letter-spacing: 1.5px;
}
.works h4::after {
    content: '.';
    color: #30ff00;
    font-size: 1.15em;
}
.works ul {
    width: 80%;
    margin-left: 20%;
}
.works ul li {
    border-bottom: 1px solid #999;
    padding: 20px;
    
}
.works ul li:first-child {
    border-top: 1px solid #999;
}
.works ul li time {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;
    font-weight: 500;
    letter-spacing: 2px;
}
.works ul li .tit {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 5%;
}
.works ul li button {
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
}
.works ul li button span {
    position: absolute;
}
.works ul li button span:nth-of-type(1) {
    width: 20px;
    height: 1px;
    background-color: #333;
    top: calc(50% - .5px);
    left: 0;
}
.works ul li button span:nth-of-type(2) {
    width: 1px;
    height: 20px;
    background-color: #333;
    top: 0;
    left: calc(50% - .5px);
}
.works ul li .active {
    display: none;
    margin: 20px 0 ;
}
.works ul li .active figure {
    /* 와이드 이미지로 보여주기 작은 이미지 답답해보임 */
}
.works ul li .active figure img {
    
}
.works ul li .active p {
    margin: 20px 0 ;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.works ul li .active a {
    border: 1px solid #333;
    padding: 5px 40px;
    font-size: .85em;
    letter-spacing: 3px;
    transition: .7s;
}
.works ul li .active a:hover {
    border-radius: 15px;
    color: #fff;
    background-color: #999;
    border: 1px solid #999;
    box-shadow: ;
    transition: .3s;
}

/* a few dates */
.works .artist-history-grid {
    width: 80%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.works .artist-history-grid .history-block {
    border-top: 2px solid #666;
}
.works .artist-history-grid .history-block .years::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #30ff00;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
}
.works .artist-history-grid .history-block .years {
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;
    font-weight: 500;
    letter-spacing: 2px;
}
/* scroll event */
.artist_sub .artist-review p.visible {
    opacity: 1;
    transform: translateY(0);
}